.page__footer {
  margin-top: 2em;
  
  .page__footer-copyright {
    color: #ACACAE;
    line-height: 1.3em;
  }
}

// editing the workshops page
#page-title-workshops {
  margin-top: 43px;
  padding: 0.25rem 0;
  color: $gray-headers-color;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Roboto";
}

#two-day-workshops {
  margin-top: 10px;
}

.notice, .notice--info {
  h2, p {
    padding-bottom: 0;
    border: none;
    
    &:first-child {
      margin-top: 0;
    }
  }
  
  h2 {
    font-size: 1.4em;
    margin: 1em 0 1em 0;
  }
}

.notice--info {
  background: #ebf9ff;
}

.page__content {
  &.no-title {
    margin-top: 30px;
  }

  .comittees-header {
    margin-top: 2.25em;
    font-weight: normal;
    font-size: 0.75em;
    font-family: "Roboto";
  }

  .comittees-members {
    line-height: 2.25em;
    font-weight: 700;
    font-size: 0.8em;
    font-family: "Circular";

    @include breakpoint($x-small) {
      font-size: 0.9em;
    }

    @include breakpoint($small) {
      font-size: 1em;
    }
  }
}

.simple-link {
  cursor: pointer;
  display: inline-flex;
  color: $link-color;
  border: none;
  background: none;
  padding: 0;
  text-decoration: underline;
  transition: all 0.2s ease-in-out;

  &:hover, &:focus {
    color: $link-color-hover;
    outline: none;
  }
}

.collapse-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}

.collapse-button {
  display: none;
}

.text-underlined {
  text-decoration: underline;
}

.gsc-input {
  line-height: 2rem;

  table {
    margin-bottom: 0;
  }
}

.page__content .gsc-control-cse {
  padding: 0;
}