.schedule-header {
  display: flex;
  flex-wrap: wrap;
  margin-right: -2rem;

  .btn, select {
    margin-bottom: 0;
    padding: 0.4em 1em;
  }

  .time-control, .action-buttons {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 2rem;
  }
}

.time-control {
  margin-right: auto;
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  span {
    margin-right: 1rem;
  }

  select {
    flex: 1;
  }

  &:only-child {
    select {
      max-width: 20rem;
    }
  }
}

.schedule-element {
  margin: 1rem 0;
}

.schedule-element-content {
  background: $gray-background;

  > ul {
    li {
      margin: 1rem 0;
    }
  }
}

.schedule {
  a {
    color: #000000;
  }

  h3 {
    margin: 1rem 0;
  }

  ul {
    margin: 0 0 1rem 0;
    &.list--small-padding{
      padding-inline-start: 1rem;
    }
  }
}

.schedule-element-title {
  margin: 0;
  outline: none;
  display: block;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 1rem;
  background-color: #d6d6d6;
  border: none;
  color: #000000;
  line-height: 1.83em;
  transition: all 0.4s;

  &.collapse-toggle-button {
    &:hover, &:focus {
      outline: none;
      background-color: #ececec;
    }
  }

  @media (min-width: $small) {
    flex-direction: row;
  }
}

.time-wrapper {
  white-space: nowrap;
  font-weight: 700;
  min-width: 7rem;
}

.element-inner-wrapper {
  padding: 1rem 2rem;
}

.subitem-title {
  margin: 1rem 0;
  font-weight: 700;
  text-align: left;
}

.schedule-header-container {
  overflow-x: hidden;
}