---
# Only the main Sass file needs front matter (the dashes are enough)
---

// global variables

@charset "utf-8";

$line-height: 1.83em;
$border-radius: 6px;
$left-sidebar-width: 200px;

// setting the color for some links and headers
$gray-headers-color: #2B2D38;

// setting the background for header and footer
$gray-background: #F1F2FA;

// overriding the links color
$link-color: #5F8BFA;
$link-color-visited: #5F8BFA;

// changing the text color
$text-color: #1A3356;

// overriding the default gray color of the background
$background-color: #FFFFFF;

/* editing the border color everywhere - deleting it from the masthead
and changing its color to match the design */
.masthead {
  border-bottom: none !important;
}
$border-color: #E3E6F2;
td {
  border-color: $border-color !important;
}

// changing the fonts
$sans-serif: Roboto;
$global-font-family: "Roboto";
$header-font-family: "Circular";
$caption-font-family: "Roboto";
$sans-serif-narrow: "Roboto";

$type-size-3: 1.66em;
$type-size-4: 1.66em;
$type-size-5: 1em;
$type-size-6: 0.92em;
$type-size-7: 0.8em;
$type-size-8: 0.58em;

// editing the footer

$footer-background-color: $gray-background;
$masthead-link-color: $gray-headers-color;

// Setting the maximum width of the page to appropriately match the design
$page-max-width: 904px;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

@import "kyiv";
@import "masthead";
@import "sidebar";
@import "layout";
@import "table";
@import "hero";
@import "keynotes";
@import "schedule";
@import "buttons";
@import "inputs";
@import "cards";