/* ==========================================================================
   Fonts
   ========================================================================== */

@font-face {
	font-family: "Roboto";
	font-weight: 700;
	font-style: normal;
	src: url("../fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto";
	font-weight: 500;
	font-style: normal;
	src: url("../fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto";
	font-weight: 400;
	font-style: normal;
	src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Akkurat";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/akkurat-bold.woff2") format("woff2"), url("../fonts/akkurat-bold.woff") format("woff");
 }

@font-face {
  font-family: "Circular";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/circular-bold.woff2") format("woff2"), url("../fonts/circular-bold.woff") format("woff");
}

@font-face {
  font-family: "Circular";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/circular-regular.woff2") format("woff2"), url("../fonts/circular-regular.woff") format("woff");
 }